<aside class="fundo-side-bar">
    <!-- Foto de perfil -->
    <div class="profile-picture">
        <img src="../../../assets/profile-felipe.enc" alt="Felipe da Silva Rodrigues">
        <p>Felipe da Silva Rodrigues</p>
        <p>Front-End Developer</p>
    </div>
    
    <div class="profile-info">
        <img src="../../../assets/profile-info.svg" alt="Ícone de perfil">
        <p>
            Perfil
        </p>
        <p>
            Sou um entusiasta em desenvolvimento front-end e mobile. Sempre busco a constância no aprendizado de tecnologias que envolvem essas duas áreas de desenvolvimento. <br>
            Possuo conhecimento de nível básico a intermediário em HTML, CSS e JavaScript, além de frameworks como Angular e React.
        </p>
    </div>

    <div class="profile-contact">
        <a href="https://www.linkedin.com/in/felipe-da-silva-rodrigues-6a2bbb164/">
            <img src="../../../assets/linkedino.svg" alt="">
            
        </a>

        <a href="https://github.com/F3l1p3ee">
            <img src="../../../assets/github.svg" alt="">

        </a>
    </div>
</aside>